<section class="communication-block">
<div class="feedback-block">
        <div class="headers-for-blocks">
        <h2 class="head-blocks">Связь</h2>
        <h2 class="head-blocks green ml-3">с нами</h2></div>
            <div class="contacts-form-address">
                <div class="service-text p-0">Ваше имя*</div>
                <input class="form-info" type="text" placeholder="Василий Петров" required>
                <div class="contacts-form-address">
                <div class="service-text p-0">Название вашей компании</div>
                <input class="form-info" type="text" placeholder='ООО «Компания»'>
                </div>
                <div class="contacts-form-address">
                    <div class="service-text p-0">Ваш номер телефона*</div>
                    <input class="form-info" type="text" name ="phone" placeholder='+7 (XXX) XXX-XX-XX' required>
                </div>
                <div class="contacts-form-address">
                    <div class="service-text p-0">Ваша электронная почта</div>
                    <input class="form-info" type="text" placeholder='example@gmail.com'>
                </div>
                <div>
                    <input type="checkbox" id="cb1"> <label for="cb1"><div class="service-text p-0">Я ознакомлен(-а) с <a class="privacy-policy" href="privacy-policy.html" target="_blank">политикой конфиденциальности</a></div></label>
                </div>
             </div>
      </div>
</div>
<div class="contacts-block">
        <div class="headers-for-blocks">
        <h2 class="head-blocks white ml-3">Наши контакты</h2>
        </div>
            <div class="contacts-form">
                <div class="contacts-form-address">
                    <div class="contacts-head p-22">Адрес</div>
                    <a class="usu-text-white p-12" href="#">г.Иркутск, ул.Верхняя Набережная 161/16, Офис 7</a>
            </div>
                <div class="contacts-form-address">
                    <div class="contacts-head p-22">Телефон</div>
                    <a class="usu-text-white p-12" href="#">+7 (3952) 65-22-50</a>
                </div>
                <div class="contacts-form-address">
                    <div class="contacts-head p-22">Время работы</div>
                    <div class="usu-text-white p-12">9:00 – 18:00; суббота и воскресенье – выходные дни</div>
                </div>
                <div class="contacts-form-address p-22">
                    <div class="contacts-head p-12">Электронная почта</div>
                    <a class="usu-text-white" href="#">mkl-irkutsk@yandex.ru</a>
                </div>
            </div>
</div>
</section>