<section class="communication-block">
<div class="feedback-block">
        <div class="headers-for-blocks">
        <h2 class="head-blocks">Связь</h2>
        <h2 class="head-blocks green ml-3">с нами</h2></div>
    <div class="row-flex">
            <div class="contacts-form-address">
                <div class="contacts-head black mt-19">Ваше имя*</div>
                <input class="form-info" type="text" placeholder="Василий Петров" required>
                <div class="contacts-address">
                <div class="contacts-head black mt-19">Название вашей компании</div>
                <input class="form-info" type="text" placeholder='ООО «Компания»'>
                </div>
                <div class="contacts-address">
                    <div class="contacts-head black mt-19">Ваш номер телефона*</div>
                    <input class="form-info" type="text" name ="phone" placeholder='+7 (XXX) XXX-XX-XX' required>
                </div>
                <div class="contacts-address">
                    <div class="contacts-head black mt-19">Ваша электронная почта</div>
                    <input class="form-info" type="text" placeholder='example@gmail.com'>
                </div>
             </div>
        <div class="contacts-block-comment">
            <div class="contacts-head black mt-19">Комментарий</div>
            <textarea rows="7" name="text" placeholder="Ваш комментарий"></textarea>
        </div>
      </div>
    <div class="policy-check">
        <input type="checkbox" id="cb1"> <label for="cb1"><div class="service-text">Я ознакомлен(-а) с <a class="privacy-policy" href="privacy-policy.html" target="_blank">политикой конфиденциальности</a></div></label>
    </div>
    <div class="contacts-block-send-button">
        <button class="contacts-form-cooperate-button">
            <div class="text-white-uppercase">Отправить</div>
            <img class="index-cooperate-arrow" src="img/index-banner-arrow.svg">
        </button>
    </div>
</div>
<div class="contacts-block">
        <div class="headers-for-blocks">
        <h2 class="head-blocks white">Наши контакты</h2>
        </div>
            <div class="contacts-form">
                <div class="contacts-form-address">
                    <div class="contacts-head p-22">Адрес</div>
                    <a class="usu-text-white p-12" href="#">г.Иркутск, ул.Верхняя Набережная 161/16, Офис 7</a>
            </div>
                <div class="contacts-form-address">
                    <div class="contacts-head p-22">Телефон</div>
                    <a class="usu-text-white p-12" href="#">+7 (3952) 65-22-50</a>
                </div>
                <div class="contacts-form-address">
                    <div class="contacts-head p-22">Время работы</div>
                    <div class="usu-text-white p-12">9:00 – 18:00; суббота и воскресенье – выходные дни</div>
                </div>
                <div class="contacts-form-address p-22">
                    <div class="contacts-head p-12">Электронная почта</div>
                    <a class="usu-text-white" href="#">mkl-irkutsk@yandex.ru</a>
                </div>
                <div class="contacts-icons-block">
                    <a class="contacts-vkIcon" href="#"><img src="../img/vk-icon.svg"></a>
                    <a class="contacts-facebookIcon" href="#"><img src="../img/facebook-icon.svg"></a>
                    <a class="contacts-okIcon" href="#"><img src="../img/OK-icon.svg"></a>
                    <a class="contacts-instaIcon" href="#"><img src="../img/instagram-icon.svg"></a>
                </div>
            </div>
</div>
</section>