<script src="js/main.min.js"></script>
<div class="footer-nav">
    <div class="btn-top"></div>
    <div class="footerContainer">
        <div class="footer-block first">
            <div class="text-white-uppercase footer-padding">Главная</div>
            <div class="text-white-uppercase footer-padding">Live Extracts</div>
            <div class="text-white-uppercase footer-padding">Лаборатория</div>
            <div class="text-white-uppercase footer-padding">Производство</div>
            <div class="text-white-uppercase footer-padding">Контроль качества</div>
            <div class="text-white-uppercase footer-padding">Контрактное производство</div>
            <div class="text-white-uppercase footer-padding">Оптовые поставки</div>
            <div class="text-white-uppercase pt-5">© ООО «BAIKAL HERBS», 2020</div>
        </div>
        <div class="footer-block second">
            <div class="text-white-uppercase footer-padding">Травы</div>
            <div class="text-white-uppercase footer-padding">Чаи</div>
            <div class="text-white-uppercase footer-padding">Экстракты</div>
            <div class="text-white-uppercase footer-padding">Грибы</div>
            <div class="text-white-uppercase footer-padding">Контакты</div>
            <div class="text-white-uppercase footer-padding">Политика конфиденциальности</div>
            <a class="copyright copyright_footer" href="#">
                <div class="text-white-uppercase text-nowrap">Designed by</div>
                <div class="text-white-uppercase text-nowrap bold pl-2">row studio</div>
            </a>
        </div>
        <div class="footer-block-map">
            <div class="map">
                <script type="text/javascript" charset="utf-8" async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A93ee5a043513057ad738cd682016edb889759e1e59fb5471f71c69718809cb72&amp;width=960&amp;height=470&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
        </div>
    </div>
    <div class="footer-container-mobile">
        <a class="copyright copyright_footer" href="#">
            <div class="text-white-uppercase">Designed by</div>
            <div class="text-white-uppercase bold pl-2">row studio</div>
        </a>
    </div>
</div>

