<div class="header-desktop">
    <div class="header-herbs-logo">
    <img src="img/herbs-logo.svg">
    </div>
    <div class="header-nav-menu">
        <div class="header-nav-menu-item"><div class="text-white-uppercase">Технологии</div><div class="header-nav-menu-item-arrow ml-2"></div>
            <div class="header-nav-menu-absolute">
                <div class="flex-box">
                <a class="text-white-uppercase text-nowrap w-100">Live extracts</a>
                <a class="text-white-uppercase text-nowrap w-100 mt-19">Лаборатория</a>
                <a class="text-white-uppercase text-nowrap w-100 mt-19">Производство</a>
                <a class="text-white-uppercase text-nowrap w-100 mt-19">Контроль качества</a>
                </div>
            </div>
        </div>
        <div class="header-nav-menu-item"><div class="text-white-uppercase">Виды продукции</div><div class="header-nav-menu-item-arrow ml-2"></div>
            <div class="header-nav-menu-absolute">
                <div class="flex-box">
                <a class="text-white-uppercase text-nowrap w-100">Травы</a>
                <a class="text-white-uppercase text-nowrap w-100 mt-19">Чайные напитки</a>
                <a class="text-white-uppercase text-nowrap w-100 mt-19">Экстракты</a>
                <a class="text-white-uppercase text-nowrap w-100 mt-19">Грибы</a>
                </div>
            </div>
        </div>
        <div class="header-nav-menu-item"><div class="text-white-uppercase">Работа с нами</div><div class="header-nav-menu-item-arrow ml-2"></div>
            <div class="header-nav-menu-absolute">
                <a class="text-white-uppercase text-nowrap w-100">Контрактное производство</a>
                <a class="text-white-uppercase text-nowrap w-100 mt-19">Оптовые поставки</a>
            </div>
        </div>
        <a href="#" class="header-nav-menu-item"><div class="text-white-uppercase">Контакты</div></a>
        <a href="#" class="header-nav-menu-item"><div class="text-white-uppercase">Начать сотрудничать</div></a>
    </div>
    <div class="header-language-block">
        <div class="header-language-block_icon"></div>
        <div class="header-language-check"><div class="text-white-uppercase">Русский</div><div class="header-nav-menu-item-arrow ml-2"></div>
            <div class="header-nav-menu-absolute">
                <div class="flex-box">
                    <a class="text-white-uppercase text-nowrap w-100">Арабский</a>
                    <a class="text-white-uppercase text-nowrap w-100 mt-19">Немецкий</a>
                    <a class="text-white-uppercase text-nowrap w-100 mt-19">Корейский</a>
                    <a class="text-white-uppercase text-nowrap w-100 mt-19">Хинди</a>
                </div>
            </div>
        </div>
    </div>
</div>