<div class="header-desktop">
    <div class="header-herbs-logo">
    <img src="img/herbs-logo.svg">
    </div>
    <div class="header-nav-menu">
        <a href="#" class="header-nav-menu-item"><div class="text-white-uppercase">Технологии</div><img class="header-nav-menu-item-arrow" src="img/header-arrow.svg"></a>
        <a href="#" class="header-nav-menu-item"><div class="text-white-uppercase">Виды продукции</div><img class="header-nav-menu-item-arrow" src="img/header-arrow.svg"></a>
        <a href="#" class="header-nav-menu-item"><div class="text-white-uppercase">Работа с нами</div><img class="header-nav-menu-item-arrow" src="img/header-arrow.svg"></a>
        <a href="#" class="header-nav-menu-item"><div class="text-white-uppercase">Контакты</div></a>
        <a href="#" class="header-nav-menu-item"><div class="text-white-uppercase">Начать сотрудничать</div></a>
    </div>
    <div class="header-language-block">
        <div class="header-language-block_icon"></div>
        <a href="#" class="header-language-check"><div class="text-white-uppercase">Русский</div><img class="header-nav-menu-item-arrow" src="img/header-arrow.svg"></a>
    </div>
</div>