<div class="header-desktop">
    <div class="container">
        <a href="index.html" target="_blank" class="header-herbs-logo">
            <img src="img/herbs-logo.svg" class="herbs-logo">
        </a>
        <ul class="header-nav-menu">
            <li class="with-child">
                <a>Технологии</a>
                <ul class="header-nav-menu-inner">
                    <li><a class="text-nowrap" href="">Live extracts</a></li>
                    <li><a class="text-nowrap" href="">Лаборатория</a></li>
                    <li><a class="text-nowrap" href="">Производство</a></li>
                    <li><a class="text-nowrap" href="">Контроль качества</a></li>
                </ul>
            </li>
            <li class="with-child">
                <a>Виды продукции</a>
                <ul class="header-nav-menu-inner">
                    <li><a class="text-nowrap" href="">Травы</a></li>
                    <li><a class="text-nowrap" href="">Чайные напитки</a></li>
                    <li><a class="text-nowrap" href="">Экстракты</a></li>
                    <li><a class="text-nowrap" href="">Грибы</a></li>
                </ul>
            </li>
            <li class="with-child">
                <a>Работа с нами</a>
                <ul class="header-nav-menu-inner">
                    <li><a class="text-nowrap" href="">Контрактное производство</a></li>
                    <li><a class="text-nowrap" href="">Оптовые поставки</a></li>
                </ul>
            </li>
            <li><a href="">Контакты</a></li>
            <li><a class="goto" href="#item1">Начать сотрудничать</a></li>
        </ul>
        <div class="header-language-block">
            <div class="header-language-block_icon"></div>
            <div class="header-language-check"><div class="text-white-uppercase">Русский</div><div class="header-nav-menu-item-arrow ml-2"></div>
                <div class="header-nav-menu-absolute">
                    <div class="flex-box">
                       <div class="arabian"><a class="text-white-uppercase text-nowrap w-100">Арабский</a></div>
                        <div class="germany"><a class="text-white-uppercase text-nowrap w-100 mt-19">Немецкий</a></div>
                        <div class="korean"><a class="text-white-uppercase text-nowrap w-100 mt-19">Корейский</a></div>
                        <div class="hindi"><a class="text-white-uppercase text-nowrap w-100 mt-19">Хинди</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="burger-mobile">
            <span id="burger"></span>
            <div class="burger-line1"></div>
            <div class="burger-line2"></div>
            <div class="burger-line3"></div>
        </div>
    </div>
</div>