.footerContainer
{
  max-width: 1920px;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  padding: 40px 0 28px;
}
.footer-nav
{
  position: relative;
  width: 100%;
  background: #1F1F1F;
}
.footer-padding
{
  padding: 13px 0;
  width: 100%;
}
.footer-block
{
  display: flex;
  flex-wrap: wrap;
}
.first
{
  flex: 30%;
  padding-left: 10%;
}
.second
{
  flex: 20%;
}
.copyright_footer
{
  position: inherit;
  padding-top: 88px;
}
.footer-block-map
{
  flex: 50%;
  height: 100%;
  position: relative;
}
.map
{
  position: absolute;
  right: 0;
  left: 0;
  top: -40px;
}
.btn-top {
  cursor:pointer;
  width: 90px;
  height: 90px;
  background: #8cbc43 url(../img/slider-left.svg) center center no-repeat!important;
  position: absolute;
  bottom:0;
  left:0;
  transform: rotate(90deg);
}
.btn-top:hover {
  background: #76a035 url(../img/slider-left.svg) center center no-repeat!important;
}
.footer-container-mobile
{
  display: flex;
  flex: 100%;
  padding: 0 20px 70px;
  background: #1F1F1F;
  justify-content: center;
  align-items: center;
}
.footer-block
{
  a:hover
  {
    border-bottom: 1px solid transparent;
  }
}
.footer-padding
{
  &:hover
  {
    a
    {
      border-bottom: 1px solid #8cbc43;
    }
  }
}