%transition {
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

%transition_slow {
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}
%psevdo {
  content: '';
  display: inline-block;
  position: absolute;
}
.header-desktop
{
  position: absolute;
  top: 42px;
  width: 100%;
  z-index: 1;
  .container {
    max-width: 1650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header-scroll1
{
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  transition: .5s;
  .header-nav-menu-item-arrow
  {
    background-image:  url("/../img/header-arrow-black.svg");
  }
}
.header-herbs-logo
{
  display: flex;
  flex: 6.8%;
}
.header-nav-menu
{
  display: flex;
  flex: 86%;
  align-items: center;
  padding-left: 40px;
}
.header-nav-menu-item
{
  padding: 0 40px;
  display: flex;
  position: relative;
  &:hover
  {
    .header-nav-menu-item-arrow
    {
      transform: rotate(-180deg);
    }
    .header-nav-menu-absolute
    {
      opacity: 1;
      visibility: visible;
    }
  }
}
.header-nav-menu-absolute
{
  position: absolute;
  padding-top: 50px;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  display: block;
}
.header-nav-menu-absolute-scroll
{
  background-color: #f9f9f9;
}
.header-language-block
{
  display: flex;
  flex: 6.8%;
  align-items: center;
  position: relative;
}
.header-language-check
{
  display: flex;
  &:hover
  {
    .header-nav-menu-item-arrow
    {
      transform: rotate(-180deg);
    }
    .header-nav-menu-absolute
    {
      opacity: 1;
      visibility: visible;
    }
  }
  background-image: url("/../img/Flag.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  padding-left: 25px;
}
.russian
{
  background-image: url("/../img/Flag.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  padding-left: 25px;
  margin-left: -25px;
  margin-top: 10px;
}
.arabian
{
  background-image: url("/../img/arabian.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  padding-left: 25px;
  margin-left: -25px;
  margin-top: 10px;
}
.germany
{
  background-image: url("/../img/German.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  padding-left: 25px;
  margin-left: -25px;
  margin-top: 10px;
}
.korean
{
  background-image: url("/../img/Korea.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  padding-left: 25px;
  margin-left: -25px;
  margin-top: 10px;
}
.hindi
{
  background-image: url("/../img/India.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  padding-left: 25px;
  margin-left: -25px;
  margin-top: 10px;
}
.header-nav-menu-item-arrow
{
  background-image:  url("/../img/header-arrow.svg");
  background-size: contain;
  width: 10px;
  transition: .5s;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  margin-top: -5px;
}

.burger-line1
{
  position: absolute;
  width: 100%;
  height: 2px;
  background: #8CBC43;
  top:0;
  left: 0;
  transition: .4s;
  z-index: 1;
}
.line1-click{
  top: 7px;
  transform: rotate(45deg);
}
.burger-line2
{
  position: absolute;
  width: 75%;
  height: 2px;
  background: #1f1f1f;
  top:43%;
  right: 0;
  transition: .4s;
}
.line2-click
{
  transform: rotate(-45deg);
  width: 100%;
}
.burger-line3
{
  position: absolute;
  width: 50%;
  height: 2px;
  background: #8CBC43;
  bottom:0;
  right: 0;
  transition: .4s;
}
.line3-click{
  opacity: 0;

}

.burger-mobile {
  display: none;
  position: relative;
  span {
    width: 22px;
    height: 16px;
    display: block;
    float: right;
    z-index:11;
    background: transparent;
    &.open {
      background: transparent;
    }
  }
  .header-nav-menu {
    position: absolute;
    background: #8CBC43;
    display: none;
    top:40px;
    right:-10px;
    padding-left:0;
    margin:0;
    width:100vw;
    height: 90vh;
    li {
      display: block;
      width:100%;
      margin:20px 0;
      a {
        display: block;
        text-align: center;
        padding:10px 0;
      }
    }
  }
}
.burger-nav {
  position: relative;
  z-index: 10;
  display: none;
  background: #fff;
  padding: 90px 20px 20px;
  .header-nav-menu {
    margin: 0;
    li {
      display: block;
      font-family: 'Circe-Bold';
      font-size: 26px;
      margin: 0 0 25px;
      a {
        color: #3D3D3D;
      }
      &.with-child {
        position: relative;
      }
    }
  }
}


.header-nav-menu {
  list-style: none;
  margin: 0 10px;

  li {
    display: inline-block;
    position: relative;
    margin: 0 30px;
    a {
      color: #fff;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      font-size: 14px;
      &:hover {
        color: #fff;
      }
    }
  }
  li.with-child {
    &:hover {
      .header-nav-menu-inner {
        display: block;
        opacity:1;
      }
      &:after {
        transform: rotate(-135deg) translateY(-50%);
        margin-right:-5px;
      }
    }
    &:after {
      @extend %psevdo;
      top: calc(50% - 2.5px);
      transform: rotate(45deg) translateY(-50%);
      right: -13px;
      width: 5px;
      height: 5px;
      border: 1px solid #fff;
      transition: .3s;
      border-left: none;
      border-top: none;
    }
  }
}
.header-nav-menu-inner {
  @extend %transition_slow;
  display: none;
  position: absolute;
  left:-19px;
  top:20px;
  z-index:10;
  min-width: 200px;
  padding:0;
  &.inner-menu-li-mobile {
    position: relative;
    top:auto;
    left:auto;
    li {
      padding: 0 0;
    }
  }
  li {
    display: block;
    margin:0;
    padding:7px 19px;
    &:first-child {
      padding-top:18px;
    }
  }
}
.header-desktop a
{
  &:hover
  {
    border: transparent;
  }
}