.index-banner {

    &_tea {
        background-image: url("/../img/IMG.jpg");
    }
}

.main-banner {

    &_tea {
        margin-top: 120px;
    }
}

.index-banner_buttons-textblock {

    &_tea {
        margin-top: 0;
    }
}

.about-background-block {

    &_tea {
        height: 451px;
        top: 75px;
        width: 109%;
    }
}

.about-info-text {

    &_tea {
        padding: 115px 290px 0 61px;
    }
}

.teeest
{
  display: flex;
  align-items: center;

  li
  {
    list-style: none;
    padding: 0 69px;

    &:first-child {
        padding-left: 0;
    }
  }
}
.activeee {
    color: #000;
}