.index-banner {

    &_tea {
        background-image: url("/../img/IMG.jpg");
    }
}

.main-banner {

    &_tea {
        margin-top: 150px;
    }
}

.index-banner_buttons-textblock {

    &_tea {
        margin-top: -10px;
    }
}

.about-background-block {

    &_tea {
        height: 451px;
        top: 75px;
        width: 109%;
    }
}

.about-info-text {

    &_tea {
        padding: 115px 290px 0 61px;
    }
}