@media (max-width: 1750px) {

  .little-links
  {

  }
}
@media (max-width: 1670px)
{
  .index-links
  {
    bottom: 40px;
  }
}
@media (max-width: 1624px) {

  .feedback-block {
    padding-left: 80px;
    padding-right: 83px;
  }
  .index-link-about
  {
    bottom: -30px;
  }
}
@media (max-width: 1620px) {
  .opacity-wrap.opacity-main
  {
    width: 790px;
    height: 50%;
    top: 293px;
  }
  .tech-info-text {
    padding-left: 20px;
  }
  .margin-bottom-50
  {
    display: none;
  }
}
@media (max-width: 1550px)
{
  .index-link-about
  {
    bottom: -50px!important;
  }
  .index-links
  {
    bottom: 0;
  }
}@media (max-width: 1500px) {
  .technologies-photo
  {
    margin-top: 70px;
  }
}
@media (max-width: 1450px)
{
  .head-blocks {
    font-size: 81px;
  }
  .label-for-photo
  {
    left: 0;
  }

}

@media (max-width: 1350px) {
  .history-carousel.owl-carousel .owl-item img {
    width: 50%;
  }
  .technologies-photo
  {
    margin-top: 100px;
  }
  .tech-info-text
  {
    padding-right: 20px;
  }
}

@media (max-width: 1280px) {

  .video-button-text
  {
    display: none;
  }
  .video-button-block {
    margin:50px 20px 0;
  }
  .media-padding
  {
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
  .tech-block
  {
    bottom: -65px!important;
  }
  .communication-block
  {
    flex-wrap: wrap;
  }
  .technology .about-info-text.bg-right {
    width: 80%;
    max-width: 80%;
    flex: 0 0 80%;
    border-right: 0;
  }
  .col-5, .col-4 {
    max-width: 100%;
    flex: 100%;
  }
  .col-7, .col-8
  {
    max-width: 100%;
    flex: 100%;
  }
  .label-for-photo
  {
    display: none;
  }
  .feedback-block
  {
    flex: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .feedback-block
  {
    flex: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1170px) {
  .test li {
    padding: 0 7px;
  }
  .bookmarks {
    top: 210px;
  }
}
@media (max-width: 1100px) {


  .cowork-rubrik-item span {
    font-size: 60px;
    bottom:-5px;
  }

  .burger-mobile {
    display: block;
  }
  .herbs-logo
  {
    filter: contrast(0.4);
  }
  .header-language-block
  {
    display: none;
  }
  .header-desktop
  {
    top:0;
    padding-top: 12px;
    padding-bottom: 12px;
    background: white;
  }
  .about-background-lines, .tech-background-lines, .stages-background-lines, .logo-background, .manuf-background-lines
  {
    display: none;
  }
  .cowork-rubrik-item {
    height:200px;
  }
  .head-blocks {
    font-size:60px;
  }
  .head-blocks-thin {
    font-size:40px;
  }
  .video-button-block {
    margin-right:0;
  }
}
@media (max-width: 1024px)
{
  .header-nav-menu li a
  {
    font-size: 25px;
  }
  .burger-mobile .header-nav-menu li
  {
    margin: 5vh 0;
  }
}
@media (min-width: 992px) {

  .video-button-text-small
  {
    left: -45px;
  }
  .video-button-text-small-new
  {
    left: -30px;
  }
  .cowork-rubrik-item-new
  {
    height: 800px!important;
  }
  .teamarks.teamarks-main
  {
    top: 265px;
    left: 250px;
  }
  .footer-container-mobile
  {
    display: none;
  }
  .director-photo img {

    height: auto;
  }
  .technology .about-info-text.bg-right {
    margin-left: -20%;
    padding-left: 20%;
  }
}
@media (max-width: 991px) {
  .slider-text {
    max-width: 87%;
  }
  .contacts-block-comment textarea
  {
    resize: none;
    background: url(/../img/textarea2.svg) 0 37px;
    line-height: 2.6;
  }
  .slider-text
  {
    padding-right: 50px;
  }
  .teamarks.teamarks-main
  {
    display: none;
  }
  .slider-history-background
  {
    height: 772px;
  }
  .owl-nav
  {
    bottom: 30px;
  }
  .index-banner-description-mini
  {
    margin-top: 30px;
  }
  .index-link-about
  {
    bottom: -60px;
  }

  .contract-manufacturing {
    margin: 90px 0;
  }
  .main-header
  {
    font-size: 60px!important;
  }
  .main-description p
  {
    font-size: 20px;
  }
  .main-description
  {
    margin-top: 0;
  }
  .owl-carouselDima .owl-stage-outer {
    height: 500px;
  }

    .map
  {
    top: 180px;
  }
  .footerContainer
  {
    padding: 0;
  }
  .first, .second
  {
    display: none;
  }
  .about-info {
    flex-wrap: wrap;
  }

  .myContainer {
    margin-right: 10px;
    margin-left: 10px;
  }

  .about-info-text
  {
    padding: 50px 0 0 0;
  }

  .director-photo img {
    height: 100%;
  }
  .about-background-block
  {
    display: none;
  }
  .history-carousel.owl-carousel .owl-item img
  {
    width: 80%;
    margin-left: 0;
  }
  .history-image
  {
    left: 0;
    bottom: -85px;
  }
  .slider-text
  {
    top: 80px;
  }
  .bookmarks
  {
    display: none;
  }
  .technologies
  {
    margin-top: 0;
  }
  .technologies-photo
  {
    width: 100%;
  }
  .tech-info-text
  {
    padding: 30px 10px 0;
  }

  .little-links
  {
    left: 10px;
  }
  .tech-background-block
  {
    display: none;
  }
  .margin-bottom-50
  {
    display: none;
  }
  .contacts-form-cooperate-button
  {
    left: -107px;
  }
  .row-flex
  {
    flex-wrap: wrap;
  }
  .contacts-form-address
  {
    padding-right: 0;
  }
  .contacts-block
  {
    flex: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contacts-form
  {
    padding-left: 0;
  }
  .contacts-block-comment
  {
    padding-left: 0;
  }
  .contacts-block-comment textarea
  {
  }
  .footerContainer
  {
    flex-wrap: wrap;
  }
  .headers-for-blocks
  {
    flex: 100%;
  }
  .btn-top
  {
    bottom: 67px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 900px) {
  .technology .about-info-text.bg-right {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    padding-right: 0;
  }
  .economy-item-title {
    font-size:40px;
  }
  .economy-block {
    border-right:0;
    padding-right:0;
  }
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .head-blocks {
    font-size: 50px;
  }
  .head-blocks-thin {
    font-size: 20px;
  }
  .cowork-rubrik-item {
    height:200px;
    span {
      font-size: 40px;
      left:0;
    }
  }
  .index-banner-cooperate-button {
    padding-left:10px;
  }
}

@media (max-width: 800px) {
  .ellipce-outer
  {
    left: 0;
  }
  .new-outer
  {
    left: -45px!important;
  }
  .main-banner .flex-box div:first-child {
    width:100%;
  }
  .banner-text-bold {
    font-size:180px;
    line-height:1;
  }
  .popup-logo
  {
    display: none;
  }
  #sync1 .item img
  {
    width: 190px;
    height: 300px;
  }
  .popup-slider
  {
    margin: 0 30px;
  }
  .certificate.owl-nav
  {
    bottom: -117%;
  }
}

@media (max-width: 800px) {
  .cowork-rubrik {
    border-left: 0;
    padding-left: 0;
  }
  .cowork-rubrik-item {
    margin:24px 0;
    width:100%;
  }
  .index-banner-cooperate-button {
    max-width:300px;
    margin-bottom:30px;
    margin-right:50px;
  }
  .index-banner_buttons-textblock {
    a {
      margin-bottom:30px;
      margin-left:10px!important;
    }
  }
}
@media (min-width: 701px)  {
  .owl-carouselDima
  {
    height: 750px;
  }
}
@media (max-width: 700px) {

  .banner-text-description {
    top: 25px;
  }
  .inner .banner-text-bold {
    font-size:60px;
  }
  .economy-item {
    width: 100%;
    padding-left: 50px;
  }
  .economy-item-title {
    font-size: 30px;
  }
  .owl-carouselDima .item {
    position: relative;
    padding: 0 50px;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px;
  }
  .modal-body
  {
    padding: 0;
  }
}
@media (max-width: 560px)
{
  .header-nav-menu li a
  {
    font-size: 16px;
  }
  .burger-mobile .header-nav-menu li
  {
    margin: 3vh 0;
  }
  .certificate.owl-theme .owl-nav
  {
    bottom: -50%;
    left: 35%;
  }
  .feedback-block-modal {
    padding: 50px 30px!important;
    background-color: white;
  }
  .main-header
  {
    font-size: 50px!important;
  }
  .main-description p
  {
    font-size: 20px;
  }
  .main-description
  {
    margin-top: 0;
  }
  .main-page {
    padding-top: 180px!important;
  }
  .head-blocks {
    font-size: 27px;
  }

  .banner-text-description {
    flex-wrap: wrap;
    display: flex;
    p {
      margin: 0;
      line-height:1;
    }

    .banner-text-white.pl-2 {
      padding-left: 0!important;
      margin-bottom:20px;
    }
  }
  .main-banner {
    margin-top:30px;
  }
  #sync1 .item
  {
   padding: 0;
    flex-wrap: wrap;
  }
  #sync2 .owl-stage-outer
  {
    margin-left: 0;
  }
  #sync2 .item
  {
    width: 60px;
    height: 100px;
  }
  .popup-slider
  {
    margin: 0;
  }
}
@media (max-width: 400px){
  .banner-text-white, .banner-text-green {
    font-size: 36px;
  }
  .about
  {
    margin-top: 35px;
  }
}

@import "media-dmitriy";