@media (max-width: 1710px) {
    .about-info-text_tea {
        padding: 115px 215px 0 61px;
    }
}

@media (max-width: 1552px) {
    // .teamarks {
    //     display: none;
    // }

    .owl-carouselDima .item__title {
        display: none;
    }
}

@media (max-width: 1540px) {
    .about-info {
        flex-wrap: wrap;
    }

    .myContainer {
        margin-right: 10px;
        margin-left: 10px;
    }

    .about-info-text_tea {
        padding: 107px 185px 0 50px;
    }
    
}

@media (max-width: 1378px) {
    .about-info-text_tea {
        padding: 107px 185px 0 50px;
    }
}

@media (max-width: 1280px) {
    .about-info-text_tea {
        padding: 50px 0 0 0;
    }
}

@media (max-width: 1264px) {
    .opacity-wrap {
        display: none;
    }
}

@media (max-width: 1080px) {
    .owl-carouselDima .item {
        padding: 0 226px 0 81px;
    }
}

@media (max-width: 991px) {
    .owl-carouselDima-auto-height .owl-stage-outer {
        height: auto;
    }

    .owl-carouselDima .item {
        padding: 0 200px 0 61px;
    }
}

@media (max-width: 875px) {
    .teamarks {
        display: none;
    }

    .owl-carouselDima {
        padding-top: 61px;
    }

    .owl-carouselDima .item {
        padding: 0 130px 0 41px;
    }
}

@media (max-width: 800px) {
    .banner-text-description_mushrooms {
        top: -49px;
        left: 8px;
    }
}

@media (max-width: 635px) {
    .owl-carouselDima .item {
        padding: 0 100px 0 10px;
    }

    .owl-carouselDima .item {
        height: 550px;
    }
}

@media (max-width: 560px) {
    .banner-text-description_mushrooms {
        top: -29px;
        left: 3px;
    }
}

@media (max-width: 500px) {
    .owl-carouselDima .item {
        padding: 0 70px 0 10px;
    }
}