a:hover
{
  text-decoration: none;
}
body
{
  overflow-x: hidden;
}
button
{
  border: transparent;
}
button:focus
{
  outline: transparent;
}
html
{
  max-width: 2150px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}