a {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
a:hover
{
  text-decoration: none;
}
a.usu-text-white:hover {
  color:#fff;
}
body
{
  overflow-x: hidden;
  padding: 0!important;
}
button
{
  border: transparent;-webkit-transition: .3s ease;
  transition: .3s ease;
}
button:focus
{
  outline: transparent;
}
html
{
  max-width: 2150px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}