.stages-of-production {
    margin-bottom: 259px;
    margin-top: 95px;
    position: relative;
}

.owl-carouselDima {
    border-left: 5px solid#8CBC43;
    padding-top: 111px;
    background: #F9F9F9;
    margin-top: 48px;
}

.owl-carouselDima .owl-stage-outer {
    height: 650px;
}

.owl-carouselDima .owl-nav {
    bottom: -45px;
}

.owl-carouselDima .item {
    position: relative;
    padding: 0 70px;
}

.owl-carouselDima .item {
    &__title {
        font-family: 'MyriadPro-BoldCond';
        font-weight: 600;
        font-size: 100px;
        line-height: 120px;
        color: #F9F9F9;
        position: absolute;
        bottom: 228px;
        left: 64px;
        text-transform: uppercase;

        &_tech {
            left: 69px;
        }
    }

    &__desc {
        font-family: 'MyriadPro-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #1F1F1F;
        width: 100%;
        margin-top: 41px;
    }
}

.teamarks {
    position: absolute;
    left: 33px;
    top: 48px;
    z-index: 10;

    &:hover {
        cursor: pointer;
    }
}

.teamark1 {
    font-family: 'MyriadPro-SemiExt';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #1F1F1F;
    opacity: 0.25;
}

.teamark2 {
    font-family: 'MyriadPro-SemiExt';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #1F1F1F;
    opacity: 0.25;
}

.teamark3 {
    font-family: 'MyriadPro-SemiExt';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #1F1F1F;
    opacity: 0.25;
}

.line-tea {
    position: absolute;
    z-index: -1;
    bottom: -920px;
    left: 580px;
}

.slider-container {
    position: relative;
}

.opacity-wrap {
    width: 730px;
    height: 580px;
    opacity: .54;
    position: fixed;
    background-color: #f9f9f9;
    z-index: 10;
    top: 203px;
    right: 122px;
    overflow-x: hidden;
}