.banner-text-description {

    &_tea {
        top: -91px;
    }
}

.mush-bg {
    position: absolute;
    width: 323.65px;
    height: 701.85px;
    background: url(../img/herb-text-bg.svg) 0 0 no-repeat;
    background-size: contain;
    opacity: .15;
    right: 0;
    bottom: -70px;
}

.technology .about-info-text_mush {
    padding: 30px 0 0 10px;
  }
